<h1>Economy</h1>

London’s economy was experiencing a surge of economic reform and growth during the Elizabethan era, partly due to its increase in population and the dramatic incorporation of playhouses, theatre, and drama becoming a very lucrative and publically accessible activity.
<br><br/>
Even with the plagues and diseases hitting the citizens of London, the sixteenth and seventeenth centuries noticed a surge in population with 10 000 citizens migrating to London.
<br><br/>
This was in part due to the increase of higher wages and the growing merchant business and prosperity.
<br><br/>
The Elizabethan Times also brought peace with foreign nations, attracted man businesses, and increased the development of infrastructure and enterprises.
<br><br/>
Shakesperea himself was of the middle class, but observed the lower class laborers and yeomen.
<br><br/>
Many of these labourers were able to afford basic necessities and accumulate more wealth.
<br><br/>
This resulted in a higher standard of living where tourism and travel became big industries.
<br><br/>
In fact, theatre Historian calculated that London playhouses, those including the Globe Theatre, had 50 million visitors alone annually.
<br><br/>
Despite this, the majority of the industry was Wool based, accounting for ¾ of england’s exports.
<br><br/>
London’s ports became the most important in all of Europe, inviting merchants and businesses.
<br><br/>
Wool grew in demand due to its many applications and trends at the time.
<br><br/>
With wool, the train industry, textiles, and craftsmanship significantly increased in supply and demand with higher quality and more competition.
<br><br/>
Due to the nature and demand of the wool and textile economy, the economic diversity in London became one-sided, forcing many smaller communities to become poverty-ridden.
<br><br/>
However, much of this growth was dominated by the Guild system, which we’ll get into later.
<br><br/>
This left many farmers who made much of their wealth left to become labourers.
<br><br/>
Professions including ranchers, laborers, merchants, and clerks would profit off of the wool industry while many farmers and yeomans would be left to die.
<br><br/>
Social classes became a big controversy, often referenced by Shakespeare in several of his works, including Coriolanus, Henry VI, and the Merry Wifes of Windsor.
<br><br/>



Social classes were thought be expression of status in society by God himself.
<br><br/>
The system consisted of 6 classes, including the Monarch.
<br><br/>
Nobility would be considered the second highest class consisting of subsections of the royal family.
<br><br/>
They would be heavily connected with the Monarchy and at the time, 55 families would be considered Nobility.
<br><br/>
Then would follow Gentry (knights), Merchants, the Yeomen (the middle class on the fringe of poverty), and laborers (those who could not sustain families).
<br><br/>
These classes could be changed through the monarchy, accumulating enough wealth, or even committing severe crimes.
<br><br/>
The play <em>Romeo and Juliette</em> shows how class could come in between something as of true love.
<br><br/>


Much of Shakespeare’s work in not in many cases directly referenced to the economy of London, but is subtle and includes messages on greed, power, and class systems.
<br><br/>
The economic circumstances around him influenced his content from how London was shown in his plays, the representation of a common man, and the real life context it provided.
<br><br/>
The play Macbeth depicts how the thirst for fame, fortune, and power can all lead to tyranny and evil.
<br><br/>
Even in Othello and the Merchant of Venice, the story was as much of a tragedy as it was a clash of economic competition and class.
<br><br/>
Shakespeare’s home county Warwickshire in 1607 witnessed a series of riots against enclosure and the power surges and hierarchy created in London.
<br><br/>
However, it could not prevent the economic inequality that made farmers into labourers, land layoffs, and the control of their land and assets in a manner “equivalent to slavery”.
<br><br/>


In the famous book, <em>Shakespeare and Economic Theory</em>, by David Hawkes, he believed that the way Shakespeare connected economic reality and challenged it with morality and ethics made his plays and stories so effective and welcomed by the audience.
<br><br/>
Plays such as Coriolanus introduce a divided class system where there is a common divide between the rich and poor using the analogy “body politic” to describe the relation between the governors and the governed.
<br><br/>
Shakespeare could observe the economic circumstances around him with a high degree of accuracy and could create these hidden themes in his plays that would fundamental challenge the audience’s perspective on class, economy, and its ethical aspects.
<br><br/>

