<h1>Law in London</h1>
<p>The city of London, blooming with inequality and corruption, was a crime-filled with an immoral policing system, harsh punishments, and convoluted law and order system. </p>

<h2>Creating Laws: </h2>
<p>  In this era, laws were made simply made and passed by Queen Elizabeth and her parliament. </p>

<h2>Judicial System: </h2>
 <p> The judicial system during the Elizabethan era was unfair and biased, with courts skewed in favor of the prosecution. </p>

<p>When one was accused of crime, they were to remain in jail until their trial were to take place. </p>

<p>The trial was always brief and in favor of the prosecution, the convicted fate would be decided by the judge and following thus, the sentence would be carried out. </p>

<p>When noble blood were brought to court, they were treated different compared to the peasants and commoners. </p>

<p>Noblement was in favor with the queen, so they would face a less severe punishment than the commoners for the same crime. </p>

<h2>Punishments:</h2>

<p>Policing and law enforcement during the Elizabethean era was problematic with a series of unorganized systems that while kept many citizens in check, contributed to a more fearful and dictatorial society. London lacked a formal police force but rather consisted of a system of different roles and responsibilities spread out based on internal roles. Sherriggs, wardens, beadles, constables, watchme, and bailiffs, reeves, and churchwardens, private men-at-arms, enforcers, and hired men carried different responsibilities and maintained order and control. This system was confusing, and had multiple lines of authority and ward jurisdictions. Ultimately, it led to corruption and bribe-giving, but in the name of the &ldquo;King&rdquo;, there were many who continued to maintain order, even through the harshest systems. </p>

<p>Shakespeare conveyed this message to the audience with his immortal portrayal of the Wayward Constable Dogberry in his play, Much Ado About Nothing: </p>

<p><em>Dogberry</em>: This is your charge: you shall comprehend all vagrom men; you are to bid any man stand, in the prince&rsquo;s name.</p>

<p>Second Watchman: How if a&rsquo; will not stand?</p>

<p><em>Dogberry</em>: Why, then, take no note of him, but let him go; and presently call the rest of the watch together and thank God you are rid of a knave.</p>

<p>Veges: If he will not stand when he is bidden, he is none of the Prince&rsquo;s subjects.</p>

<p><em>Dogberry</em>: True, and they are to meddle with none but the Prince&rsquo;s subjects.&mdash;You shall also make no noise in the streets; for the watch to babble and to talk is most tolerable and not to be endured.</p>

<p>Watchmen: We will rather sleep than talk. We know what belongs to a watch. </p>

<p>Shakespeare&rsquo;s past encounters and portrayal of the police force is effectively portrayed through his depiction of Dogberry being a lazy, corrupt, and unorthodox constable. Him, along with his group of watchmen, are ready to commit their lives to easiness and accepting bribes and commission. The view of Elizabethan contables might be exaggerated, but it is apparent through historical evidence and accounts that constables were inept, bumbling, and foolish. </p>

<p>Punishments for those who broke the law were severe, with a trial being held and the fate of the criminal in the hands of the judge. These included public humiliation, hangings, and quartering. Women were specifically treated unfairly with even the slightest <br />
</p>
