<h1>Culture</h1>
<h2>Sumptuary laws</h2>

During the Elizabethan era there were laws on what you were allowed to eat, wear and buy to regulate social hierarchies in london, theses laws were called the Sumptuary laws.
<br/><br/>

<h2>Clothings</h2>
Clothing in london showed the wealth of the family or person.
<br/><br/>This also lead to a lot of social discrimination.
<br/><br/>They believed that the sumptuary laws were important because they protect fortunes, curb extravagance and make clear the necessary and appropriate distinction between the levels of society.
<br/><br/>For example, members of the royal family could wear clothing trimmed with ermine fur and nobles wore fancy clothes with silk, velvet and ruffled collars and sleeves.
<br/><br/>If someone was caught breaking the laws they would have to pay a small fee and a warning.
<br/><br/>Even though, this was a crucial law they could only trust the people would follow the laws.
<br/><br/>For the reason that  there was no such thing as a “costume police”, thus it was rare for anyone to get caught wearing clothing of a higher class.
<br/><br/>Thus, this law was a loss cause.
<br/><br/>
