<section class="hero is-info is-bold is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1>City <strong>Life</strong></h1>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Elizabethan Era
      </h1>
      <h2 class="subtitle">
        City Life
      </h2>
      <h3 class="subtitle is-6">
        Dev, Manroop, Waasim, Rishi
      </h3>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <div class="tabs is-large is-fullwidth is-boxed is-centered">
      <div class="container">
        <ul>
          <li [class.is-active]="_router.url === '/overview'"><a class="is-hovered" routerLink="/">Overview</a></li>
          <li [class.is-active]="_router.url === '/culture'"><a routerLink="/culture">Culture</a></li>
          <li [class.is-active]="_router.url === '/conflict'"><a routerLink="/conflict">Conflict</a></li>
          <li [class.is-active]="_router.url === '/economy'"><a routerLink="/economy">Economy</a></li>
          <li [class.is-active]="_router.url === '/medicine'"><a routerLink="/medicine">Medicine</a></li>
          <li [class.is-active]="_router.url === '/law'"><a routerLink="/law">Law</a></li>
          <li [class.is-active]="_router.url === '/bib'"><a routerLink="/bib">Bibliography</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div *ngIf="_router.url == '/overview'" style="margin: 1rem;">
  <router-outlet></router-outlet>
</div>

<div *ngIf="_router.url != '/overview'" class="" style="margin: 1rem; margin-left: 15rem; margin-right: 15rem;">
  <router-outlet></router-outlet>
</div>
