<h1>Medicine & Disease</h1>

During the Elizabethan era, disease had a prominent impact on the society, causing chaos, crisis and significant social, economic, cultural and psychological devastation.
<br/><br/>England had suffered through a total of 37 periods of crisis mortality.
<br/><br/>Shakespeare’s life marked the commencement of the first great Elizabethan plague breakout which lasted from 1563 to 1564, which wiped out ¼ of the Stratford population, a district in East London.
<br/><br/>

There were 5 various diseases that were most prominent during Shakespeare’s time.
<br/><br/>
The plague, which included the bubonic, pneumonic, septicemic and black plague, these all were the most dreaded.
<br/><br/>The plague was carried by fleas that lived on the fur of rats.
<br/><br/>If spread to lungs it would be considered the pneumonic plague, or when spread to the bloodstream it would be considered the septicemic plague, those in whom the plague spread would die within hours as they were unable to obtain the proper medication needed.
<br/><br/>

The black plague impacted Shakespeare as it wiped away many of his friends, relatives, his 3 sisters and his son.
<br/><br/>
Additionally, Shakespeare had mentioned the plague in several of his plays.
<br/><br/>One being the King Lear, where  Shakespeare mentioned the plague, while describing his daughter Goneril.
<br/><br/>

<em>
<div style="text-align: center" class="has-text-centered has-text-info">
  <p>But yet thou art my flesh, my blood, my daughter;<br/></p>
  <p>Or rather a disease that's in my flesh,<br/></p>
  <p>Which I must needs call mine: thou art a boil,<br/></p>
  <p>A plague-sore, an embossed carbuncle,<br/></p>
  <p>In my corrupted blood.<br/></p>
<br/><br/>
(2.4.242)
</div>
</em><br/>

The plague was also mentioned in Shakespeare’s play Romeo and Juliet, although it was not the main theme, it was mentioned within the final act.
<br/><br/>

The plague was the disease that really impacted Shakespeare’s life, and career.
<br/><br/>During Shakespeare’s time the plague was a significant issue, it was spreading throughout London at a fast pace, and a decision had to be made in order to try and control the spread of the disease.
<br/><br/>
